# Jupyter Book
jupyter-book<2
jupyterlab
jupytext
nbconvert
ghp-import
mystmd

# Web scraping and database
beautifulsoup4
tinydb

# General purpose dependencies
exifread
folium

# Scientific dependencies
cantera
casadi
matplotlib
numba
numpy
pandas
pyvista
scikit-image
scikit-learn
scipy
sympy
