# Jupyter Book
jupyter-book<2
jupyterlab
jupytext
nbconvert
ghp-import
mystmd

# Scientific dependencies
cantera
casadi
exifread
folium
matplotlib
numba
numpy
pandas
pyvista
scikit-image
scikit-learn
scipy
sympy
